:root{
    --light: #E5E7EB;
    --navy: #1F2937;
    --off-white: #F9FAF8;
    --blue: #3882F6;
    --blue-hover: rgb(41, 103, 203);
}

*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0px;
}

section{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.one, footer{
    background-color: var(--navy);
}

.one{
    padding: 1% 6% 3% 6%;
}

.one img{
    height: 42px;
}

.one #desktop-menu{
    display: none;
}

.one #mobile-menu{
    display: flex; 
    justify-content: space-between;
    height: 80px;
}

.one #mobile-menu .hamburger-logo{
    flex: 0; 
}

.one #mobile-menu #dropdown ul{
    color: black; 
    padding: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.747);
    list-style-type: none;
}

.one #mobile-menu #dropdown ul li{
    padding: 20px;
}

@media screen and (min-width: 576px) {
    .one #mobile-menu{
        display: none;
    }

    .one #desktop-menu{
        display: flex; 
        height: 80px;
        justify-content: space-between;
    }

    .one #destop-menu .header-logo {
        color: var(--off-white);
        font-size: 24px;
        margin-top: 0px;
        flex: 3 3 0;
        align-content: center;
    }

    .one #desktop-menu .header-link{
        margin-top: 10px;
        text-align: center;
    }

    .one #desktop-menu .header-link a{
        color: var(--light);
        text-decoration: none;
        padding-left: 30px;
    }
}

.one .header-link, .one .subtext, .four .body {
    color: var(--light);
    font-size: 18px;
}

.one .maintext{
    color: var(--off-white);
    font-size: 48px;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 4px;
}

.one .subtext{
    line-height: 140%;
}

.one div .container{
    margin: auto;
} 

.one .intro{
    display: inline-block;
    width: 43%;
    padding-top: 0px;
    padding-right: 10px;
    vertical-align: top;
    margin-top: 0px;
}

.one .image{
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}

.one .image img{
    width: 500px;
    height: 333px;
    vertical-align: middle;
}

button, .four div{
    background-color: var(--blue);
}

button{
    border-radius: 6px;
    padding: 10px 24px;
    transition-duration: 0.4s;
}

.one button{
    border-color: var(--blue);
    cursor: pointer;
    border-style: solid;
}

.one button:hover{
    background-color: var(--blue-hover);
    border-color: var(--blue-hover);
}

.two .container{
    display: flex;
    justify-content: center;
    padding: 3% 5%;
}

.two .item{
    flex: 1;
    margin: 10px;
    position: relative; 
    padding-bottom: 0px;
}

.two img{
    width: 100%;
    height: 100%;
}

.two p{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 18%;
    padding-bottom: 18%;
    position: absolute;
    text-align: center;
    align-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #aeb3ba;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    font-size: 20px;
}

.two .item:hover p{
    visibility: visible;
    opacity: 0.7;
}

.three{
    background-color: var(--light);
    padding: 2% 100px 3%;
}

.three p{
    color: var(--navy);
}

.three .quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.three .reference{
    font-size: 18px;
    font-weight: bolder;
}

.four{
    background-color: white;
    color: white;
}

.four .main{
    height: 100px;
    width: 800px;
    border-radius: 6px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.four p{
    margin-top: 0px;
    margin-bottom: 7px;
}

.four .head{
    font-weight: bold;
    font-size: 28px;
}

.four button{
    border-color: white;
    color: white;
    cursor: pointer;
    border-style: solid;
}

.four .text {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    border-radius: 6px;
}

.four .button{
    display: inline-block;
    padding-left: 90px;
    justify-content: center;
    padding-top: 30px;
}

.four button:hover{
    color:var(--blue);
    background-color: white;
}

footer{
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}